# =================================================================
#
# Authors: Tom Kralidis <tomkralidis@gmail.com>
#
# Copyright (c) 2021 Tom Kralidis
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

[server]
home=.
url=${MSC_WIS_DCPC_URL}
mimetype=application/xml; charset=UTF-8
encoding=UTF-8
language=en-US
maxrecords=10
gzip_compresslevel=9
profiles=apiso
#pretty_print=true
#loglevel=${MSC_WIS_DCPC_LOGGING_LOGLEVEL}
#logfile=${MSC_WIS_DCPC_LOGGING_LOGFILE}

[manager]
transactions=false

[metadata:main]
identification_title=Meteorological Service of Canada WMO WIS Data Centre and Production Centre Catalogue
identification_abstract=This catalogue provides geospatial metadata in support of the WMO Information System (WIS)
identification_keywords=msc,wmo,wis,dcpc,geospatial,metadata,catalogue
identification_keywords_type=theme
identification_fees=None
identification_accessconstraints=https://www.canada.ca/en/transparency/terms.html
provider_name=Government of Canada, Environment and Climate Change Canada, Meteorological Service of Canada
provider_url=https://www.canada.ca/en/services/environment/weather.html
contact_name=Government of Canada, Environment and Climate Change Canada, Meteorological Service of Canada
contact_position=Service Channel
contact_address=77 Westmorland Street, Suite 260
contact_city=Fredericton
contact_stateorprovince=New Brunswick
contact_postalcode=E3B 6Z3
contact_country=Canada
contact_phone=None
contact_fax=+01-506-451-6010
contact_email=ec.ecweather-meteo.ec@canada.ca
contact_url=https://weather.gc.ca/mainmenu/contact_us_e.html
contact_hours=Monday to Friday, 13h - 21h UTC
contact_instructions=During hours of service
contact_role=pointOfContact

[repository]
database=${MSC_WIS_DCPC_DATABASE_URI}
table=${MSC_WIS_DCPC_DATABASE_TABLE}
